body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1028px;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  font-family: "Poppins";
  grid-template-rows: 4rem 1fr 2rem;
  grid-template-areas:
    "header"
    "content"
    "footer";
}

.header {
  grid-area: header;
  width: 100%;
  height: 4rem;
  z-index: 1;
  color: #fecea8;
  background-color: #2a363b;
  box-shadow: 0 4px 10px grey;
}

.header h1 {
  float: left;
  font-size: 1.5rem;
  margin-left: 2rem;
  text-transform: uppercase;
}

.header nav {
  float: right;
  font-size: 1.5rem;
}

.header li {
  display: inline-block;
  padding: 0 1rem;
}

.header li:hover {
  cursor: pointer;
  color: #e84a5f;
}

.hero-img {
  width: 50%;
}

.content {
  grid-area: content;
  text-align: center;
  font-family: "Roboto";
  color: #2a363b;
}

.footer {
  grid-area: footer;
  padding: 0.25rem 0;
  text-align: center;
  color: #fecea8;
  background-color: #2a363b;
  box-shadow: 0 -2px 5px grey;
}

.register-btn,
.login-btn {
  font-size: 1.5rem;
}

button {
  text-transform: uppercase;
  color: #fff;
  background-color: #e84a5f;
  font-size: 1rem;
  padding: 0.25rem 0.1rem;
  border: 2px solid #e84a5f;
  box-shadow: 0 2px 4px grey;
  border-radius: 5px;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  color: #e84a5f;
  background-color: #fff;
  box-shadow: none;
}

.landing-page {
  font-size: 1.5rem;
}

.register-page,
.login-page,
.landing-page,
.headbar {
  display: none;
}

form {
  font-size: 1.5rem;
}

fieldset {
  margin: 0 auto;
  width: 70%;
}

.form-group {
  margin-bottom: 1rem;
}

/* .main-page {
  display: none;
} */
.main-page {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-areas: "sidebar main" ".. main";
}
.sidebar {
  grid-area: sidebar;
}
.sidebar li {
  display: inline-block;
  padding: 0.5rem 0;
  margin-bottom: 1.5rem;
  font-weight: 700;
  font-size: 1.2rem;
  width: 100%;
}
.sidebar li:hover {
  cursor: pointer;
  color: #e84a5f;
}
.main-container {
  grid-area: main;
}

.my-account {
  width: 80%;
  margin: 0 auto;
  text-align: justify;
}
.my-account p {
  padding: 1rem;
}
.recent-crisis,
.my-crisis,
.my-donation {
  margin: 1rem 0.5rem;
}
.crisis-container,
.my-crisis-container,
.my-donation-container {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: minmax(100px, 1fr);
}
.crisis-card {
  padding: 5px;
  border: 2px solid #2a363b;
  box-shadow: 0 2px 4px grey;
  border-radius: 5px;
}
.my-crisis,
.my-account,
.my-donation,
.donation-page,
.donation-update-page {
  display: none;
}
