/* === GENERAL STYLING === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

/* === MAIN PAGE STYLE === */
.main-page {
  display: none;
}

/* === RECENT CRISIS PAGE STYLE === */
.recent-crisis {
  margin: 1rem 0.5rem;
}

/* === MY CRISIS PAGE STYLE === */
.my-crisis {
  margin: 1rem 0.5rem;
  display: none;
}

/* === MY DONATION PAGE STYLE === */
.my-donation {
  margin: 1rem 0.5rem;
  display: none;
}
.donation-page,
.donation-update-page {
  display: none;
}

/* === MY ACCOUNT PAGE STYLE === */
.my-account {
  margin: 1rem 0.5rem;
  display: none;
}
.my-account p {
  margin-bottom: 1rem;
}
.account-update-page {
  display: none;
}

/* === MY REPORT PAGE STYLE === */
.my-report {
  margin: 1rem 0.5rem;
  display: none;
}
#myChart {
  width: 98% !important;
  height: 90%;
}

/* === CONTAINER STYLING === */
.container {
  max-width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  font-family: "Poppins";
  grid-template-rows: 4rem 1fr 2rem;
  grid-template-areas:
    "header"
    "content"
    "footer";
}
.header {
  grid-area: header;
  width: 100%;
  height: 4rem;
  z-index: 1;
  color: #eeeeee;
  background-color: #222831;
  box-shadow: 0 4px 10px #393e46;
}
.content {
  grid-area: content;
  text-align: center;
  font-family: "Roboto";
  color: #222831;
}
.footer {
  grid-area: footer;
  padding: 0.25rem 0;
  text-align: center;
  color: #eeeeee;
  background-color: #222831;
  box-shadow: 0 -2px 5px #393e46;
}
.crisis-container,
.my-crisis-container,
.my-donation-container {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/* === BUTTON STYLING === */
button {
  margin: 10px 20px;
  text-transform: uppercase;
  color: #fff;
  background-color: #00adb5;
  font-size: 1rem;
  padding: 0.25rem 0.1rem;
  border: 2px solid #00adb5;
  box-shadow: 0 2px 4px #393e46;
  border-radius: 5px;
  font-weight: bold;
}
button:hover {
  cursor: pointer;
  color: #00adb5;
  background-color: #fff;
  box-shadow: none;
}

/* === FORM STYLING === */
fieldset {
  margin: 0 auto;
  padding: 10px;
  width: 70%;
}
.form-group {
  margin: 0.8rem 0;
}
input {
  height: 1.6rem;
}

/* === CARD STYLING === */
.crisis-card,
.account-card {
  padding: 10px 5px;
  border: 2px solid #222831;
  box-shadow: 0 2px 4px #393e46;
  border-radius: 5px;
}
.single-crisis p {
  line-height: 1.4;
  text-align: left;
}

/* === LANDING PAGE STYLES === */
.landing-page {
  font-size: 1.5rem;
}
.welcome {
  display: none;
  padding: 20px;
  font-size: 1rem;
}
/* Hero Page */
#hero-page {
  height: 96vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.85),
      rgba(255, 255, 255, 0.85)
    ),
    url(https://images.unsplash.com/photo-1415304282915-d001ddefc7d7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=42a14cb2320961b671d5b8b61f7f3522&auto=format&fit=crop&w=1350&q=80)
      no-repeat center;
  background-size: cover;
}
.hero-img {
  width: 75%;
}
#hero-page p {
  margin-bottom: 40px;
}
.button {
  margin: 0 20px;
  text-transform: uppercase;
  color: #fff;
  background-color: #00adb5;
  font-size: 1rem;
  padding: 0.5rem 0.25rem;
  border: 2px solid #00adb5;
  box-shadow: 0 2px 4px #393e46;
  border-radius: 10px;
  font-weight: bold;
}
.button:hover {
  cursor: pointer;
  color: #00adb5;
  background-color: #fff;
  box-shadow: none;
}

/* Feature Page */
#feature-page {
  width: 96%;
  padding: 0 1rem;
  margin: 1rem auto;
}
.feature-title {
  text-align: center;
}
.feature-img {
  margin: 1rem auto;
  width: 75%;
}
.feature-set,
.set-title {
  margin: 2rem 0;
  text-align: left;
  line-height: 1.4;
}

/* How To Page */
#howto-page {
  width: 96%;
  padding-left: 2rem;
  margin: 1rem auto;
}
.howto-title {
  text-align: center;
}
.howto-img {
  margin: 1rem auto;
  width: 75%;
}
.howto-content {
  text-align: left;
}
.howto-content ol li {
  line-height: 1.4;
}
.fake-btn {
  text-transform: uppercase;
  color: #fff;
  background-color: #00adb5;
  font-size: 0.8rem;
  padding: 0.1rem;
  border: 2px solid #00adb5;
  border-radius: 4px;
}

/* === NAVIGATION BAR === */
nav ul {
  list-style-type: none;
}
nav ul li {
  display: block;
  background-color: #222831;
  width: 100%;
  padding: 20px 0;
}
nav ul li:hover {
  cursor: pointer;
  background-color: #eeeeee;
  color: #222831;
}
.menu-label {
  font-size: 2rem;
  display: block;
  cursor: pointer;
  padding: 10px 0 0 50px;
}
.menu-label:after {
  content: "►";
}
input:checked + .menu-label:after {
  content: "▼";
}
.outside-menu-content,
.inside-menu-content {
  text-align: center;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in;
}
input:checked ~ .outside-menu-content {
  max-height: 300px;
}
input:checked ~ .inside-menu-content {
  max-height: 600px;
}
input#outside-menu,
input#inside-menu,
.inside-collapsible {
  display: none;
}

/* === REGISTRATION PAGE === */
.register-page {
  display: none;
  padding-top: 2rem;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, #eeeeee, #00adb5);
  background-size: 400% 400%;
  -webkit-animation: RegLogBG 30s ease infinite;
  -moz-animation: RegLogBG 30s ease infinite;
  -o-animation: RegLogBG 30s ease infinite;
  animation: RegLogBG 30s ease infinite;
}
.register-btn {
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
}
.register-form fieldset {
  border-radius: 1rem;
  border: 1px solid #393e46;
  background-color: #fff;
}

/* === LOGIN PAGE === */
.login-page {
  display: none;
  padding-top: 2rem;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, #eeeeee, #00adb5);
  background-size: 400% 400%;
  -webkit-animation: RegLogBG 30s ease infinite;
  -moz-animation: RegLogBG 30s ease infinite;
  -o-animation: RegLogBG 30s ease infinite;
  animation: RegLogBG 30s ease infinite;
}
.login-btn {
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
}
.login-form fieldset {
  border-radius: 1rem;
  border: 1px solid #393e46;
  background-color: #fff;
}

/* === REGISTRATION & LOGIN PAGE BACKGROUND ANIMATION === */
@-webkit-keyframes RegLogBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes RegLogBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-o-keyframes RegLogBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes RegLogBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* === MEDIA QUERIES === */
@media screen and (min-width: 769px) {
  .hero-img,
  .feature-img,
  .howto-img {
    width: 50%;
  }
}
@media screen and (min-width: 1201px) {
  .hero-img,
  .feature-img,
  .howto-img {
    width: 25%;
  }
}
